/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #313131;
  color: #dbbc2e;
  font-family: sans-serif;
}

.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  border-left: 1px solid #444;
}

/* PLACING THE NUMBERING ABSOLUTELY TO THE CLASS .container */
.numbering {
  color: #7b7b7b;
  width: 10px;
  position: absolute;
  top: 0;
  left: -30px;
}

.main_header {
  display: inline-block;
  padding: 20px 40px;
  margin-bottom: 60px;
  text-align: center;
}
/* .main_header div {
  width: 150px;
} */

.name {
  display: inline-block;
  color: #fff;
  /* width: 150px; */
  margin-right: 100px;
  position: relative;
}
.name::after {
  content: "web_dev";
  color: #7d67df;
  position: absolute;
  left: 25px;
  top: 20px;
}

/* STYLING THE TOP NAVIGATION LINKS */

.navigations {
  display: inline-block;
  margin: 0 auto;
}
.navigations a {
  margin: 0 15px;
}

.post_header {
  text-align: center;
}

#name {
  color: #fff;
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

h1 {
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.symbol {
  color: #be87fc;
  margin: 10px 0;
}

.section_place_centre {
  text-align: center;
}

.section_about_text {
  margin-bottom: 20px;
  padding: 5px;
  display: inline-block;
  width: 80%;
}

.section_about_container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  text-align: justify;
  /* padding: 10px; */
  border-top: 1px solid #444;
  /* border-left: 1px solid #444; */
}

.experience {
  width: 400px;
  color: #fff;
  text-decoration: underline;
  border-right: 1px solid #444;
  /* margin-right: 20px; */
  padding: 10px 20px;
}

.info {
  width: 500px;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.info p {
  font-size: 16px;
}

.my_web_designs_aside {
  display: flex;
  justify-content: center;
  text-align: left;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  /* padding-top: 10px; */
}

.each_website {
  display: flex;
  /* justify-content: left; */
  /* width: 500px; */
  width: 50%;
  /* border-top: 1px solid #444; */
  border-right: 1px solid #444;
  padding: 15px 10px;
}
.content {
  width: 50%;
}

.single_website {
  /* width: 500px; */
  width: 50%;
  /* margin-left: 150px; */
  padding: 15px 10px;
}

.single_website div {
  width: 50%;
  padding-left: 150px;
}

.my_web_designs_aside2 {
  display: flex;
  justify-content: center;
  text-align: left;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-bottom: 1px solid #444;
  /* padding-top: 10px; */
  margin-bottom: 150px;
}

.each_website2 {
  display: flex;
  /* justify-content: left; */
  /* width: 400px; */
  width: 50%;
  /* border-top: 1px solid #444; */
  border-left: 1px solid #444;
  padding: 15px 10px;
}

.single_website2 {
  /* width: 300px; */
  width: 50%;
  /* margin-right: 150px; */
  padding: 15px 10px;
}

.single_website2 div {
  width: 50%;
  padding-left: 150px;
}

/* HOME PAGE LIST OF SERVICES */
.service1 {
  font-size: 22px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
}
.service1 span {
  color: #42e5fe;
}
.service2 {
  font-size: 22px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
}
.service2 span {
  color: #be87fc;
}
.service3 {
  font-size: 22px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  color: #fff;
  padding: 5px;
  margin-bottom: 30px;
}
.service3 span {
  color: #dbbc2e;
}

input {
  border: none;
  background-color: #313131;
  border-bottom: 1px solid #444;
  padding: 10px;
  width: 50%;
  margin-bottom: 10px;
}

textarea {
  width: 52%;
  background-color: #313131;
  border: none;
  border-bottom: 1px solid #444;
  margin-bottom: 15px;
  height: 100px;
}

.btn_send {
  background-color: #15a1b7;
  color: #fff;
  border: none;
  width: 70px;
  padding: 5px;
  margin-bottom: 50px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  padding: 10px;
}

footer div {
  width: 25%;
  margin: 0 auto;
}

/* STYLING LINKS */

a:link {
  text-decoration: none;
  color: #dbbc2e;
}

a:visited {
  color: #dbbc2e;
}

a:hover {
  font-weight: bold;
  color: #42e5fe;
  /* text-decoration: underline; */
}

a:active {
  color: #42e5fe;
}

.read_more {
  display: inline-block;
  color: #fff !important;
  padding: 10px;
  background-color: #15a1b7;
  margin-bottom: 100px;
}

/* STYLING THE COVER IMAGES */
.img_cover {
  width: 90vw;
  height: 80vh;
  margin-bottom: 80px;
}

/* STYLING THE ABOUT PAGE */
h1 span {
  color: #42e5fe;
}

.about_me_text1 {
  margin-bottom: 0;
}

.about_me_text2 {
  color: #fff;
  font-size: 16px;
}

.my_work_drives {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-top: 1px solid #444;
}

.my_work_drives div {
  width: 40%;
  /* margin: 0 40px; */
}

.drives {
  color: #fff;
  margin-bottom: 10px;
}

.drive_column1 {
  border-right: 1px solid #444;
  padding-right: 10px;
  padding-bottom: 50px;
}
.drive_column2 {
  /* border-right: 1px solid #444; */
  padding-left: 10px;
  padding-bottom: 50px;
}

/* STYLING PORTFOLIO PAGE */

.section_links {
  text-align: center;
}
.section_links a {
  display: inline-block;
  border: 1px solid #dbbc2e;
  margin: 20px 0;
  padding: 3px;
}
.section_links a:active {
  color: #be87fc;
  border: 1px solid #be87fc;
}

/* class of all project */
.all_projects {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 100px;
}
.all_projects_column {
  margin: 0 40px;
}
.all_projects_column div {
  margin-bottom: 20px;
  border: 0.5px solid #444;
}

/* STYLING THE SERVICE PAGE */

.services {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  border-top: 1px solid #444;
}

.last_aside {
  border-bottom: 1px solid #444;
  margin-bottom: 80px;
}

.services div {
  width: 50%;
  padding: 10px 20px;
  /* display: flex; */
  /* color: #fff; */
}

.number {
  color: #fff;
  margin-right: 40px;
  display: inline-block;
}

.my_skill {
  color: #fff;
  display: inline-block;
}
.my_skill span {
  color: #7d67df;
}

.service_column1 {
  border-right: 1px solid #444;
}

.service_column2 {
  font-size: 16px;
}

/* STYLING THE RESUME PAGE */
.place_of_work {
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
}

/* STYLING CONTACT PAGE */
.my_contacts {
  border-top: 1px solid #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  padding: 20px;
  border-right: 1px solid #444;
}
.email {
  padding: 20px;
  border-right: 1px solid #444;
}
.address {
  padding: 20px;
}
